node_modules/
.next/
out/
.env.local
*.tsbuildinfo
next-env.d.ts
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/
android/.idea/
local.properties

.vercel
.env*.local
